.footer {
  width: 100%;
  background: var(--footer-light);
}

.footer-container {
  margin: auto;
  width: 100%;
  max-width: 1650px;
}

.footer .malej-nadpis {
  font-size: 28px;
}

.footer .nadpis-footer {
  color: black;
  font-weight: 700;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer a:hover {
  color: black;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2.4rem;
  color: black;
}

@media (max-width: 1280px) {
  .footer ul {
    line-height: 2rem;
  }
}

@media (max-width: 1024px) {
  .footer ul {
    line-height: 1.75rem;
  }
}

.footer ul .lajna-footer {
  transform: translateY(50%);
  height: 2px;
  background-color: #cfecf0;
}

.footer .footer-form .default-btn {
  border-radius: 5px;
  padding: 0.35rem 0;
  background-color: #cfeef1;
  transition: all 500ms;
  color: black !important;
  border: none;
  cursor: pointer;
}

.footer .footer-form .default-btn:hover {
  background-color: #3f97a8;
}

.footer .footer-form input,
.footer .footer-form textarea {
  border-radius: 5px;
  font-weight: 300;
  padding: 0.35rem 0 0.35rem 0.6rem;
  outline: none;
  background: white;
  border: none;
}

@media (max-width: 650px) {
  .footer .footer-form input,
  .footer .footer-form textarea {
    font-size: 0.95rem;
  }
}

.footer .footer-form input::placeholder,
.footer .footer-form textarea::placeholder {
  color: #afafaf;
}

.footer .footer-form textarea::placeholder {
  padding-top: 0.2rem;
}

.footer .form-wrapper {
  row-gap: 0.35rem;
}

.bg-footer-black {
  background-color: var(--footer-dark);
}

.bg-footer-black ul {
  margin: auto;
  width: 100%;
  max-width: 1650px;
  list-style: none;
  padding: 0;
}

.yeetzone {
  transition: all 500ms;
}

.yeetzone:hover {
  color: #3f97a8;
}
