@import 'tailwindcss';
@import './styles/colors.css';
@import './styles/spacing.css';
@import './styles/components/page.css';
@import './styles/components/header.css';
@import './styles/components/navigation.css';
@import './styles/components/footer.css';
@import './styles/components/footer-form.css';
@import './styles/components/portfolio.css';
@import './styles/components/blog.css';
@import './styles/components/about.css';
@import './styles/components/admin.css';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-border: var(--border);
  --color-danger: var(--danger);
  --color-danger-hover: var(--danger-hover);

  --color-footer-light: var(--footer-light);
  --color-footer-dark: var(--footer-dark);
  --color-footer-btn: var(--footer-btn);
  --color-footer-btn-hover: var(--footer-btn-hover);
  --color-footer-line: var(--footer-line);
  --color-footer-placeholder: var(--footer-placeholder);

  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --max-width-footer: 1650px;

  --spacing-small: var(--space-small);
  --spacing-medium: var(--space-medium);
  --spacing-large: var(--space-large);
  --spacing-xlarge: var(--space-xlarge);
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply text-base;
    --font-montserrat: Montserrat, ui-sans-serif, system-ui, sans-serif;
  }

  body {
    @apply text-base md:text-lg xl:text-xl;
    background: var(--background);
    color: var(--light);
  }
  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl font-semibold text-foreground mt-large mb-small;
  }
  h2 {
    @apply text-xl sm:text-2xl font-semibold text-foreground mt-large mb-small;
  }

  h3 {
    @apply text-xl font-semibold text-foreground mt-large mb-small;
  }
}
